<h1>Edit Build</h1>
<%= form_with model: @build, url: admin_build_path(@build), method: :patch, local: true do |f| %>
  <div>
    <%= f.label :jetski_model %>
    <%= f.text_field :jetski_model %>
  </div>

  <div>
    <%= f.label :engine_type %>
    <%= f.text_field :engine_type %>
  </div>

  <div>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </div>

  <div>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div>
    <%= f.submit 'Save Changes' %>
  </div>
  
<% end %>
