<div id="<%= dom_id build %>">
  <p>
    <strong>email:</strong>
    <%= build.email %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= build.active %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= build.summary %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= build.skills %>
  </p>


</div>
