<h1>Create a New Build</h1>

<%= form_with model: @build, url: (current_admin ? customer_admins_builds_path(customer_id: @build.customer_id) : builds_path), local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div>
    <%= f.label :last_modified %>
    <%= f.datetime_select :last_modified %>
  </div>
  <div>
    <%= f.submit 'Create Build', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', (current_admin ? admin_dashboard_path : builds_path), class: 'btn btn-secondary' %>
