<div id="<%= dom_id customer %>">
  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>



  <p>

  <% @customer.builds.each do |build| %>
    <p><strong>Title:</strong> <%= build.title %></p>
    <p><strong>Active:</strong> <%= build.active ? 'Yes' : 'No' %></p>
    <p><strong>Notes:</strong> <%= build.notes %></p>
  <% end %>

</div>
