<h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <div>
    <%= f.label :first_name, style: "display: block" %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name, style: "display: block" %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :profile_picture, style: "display: block" %>
    <%= f.file_field :profile_picture %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
