<!DOCTYPE html>
<html>
  <head>
    <title>YourApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Include Bootstrap CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload", defer: true %>
    <!-- Custom Styles -->
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #000;">
      <div class="container-fluid">
        <%= image_tag 'JETPWR Logo WHITE.PNG', alt: 'Default Profile Picture', width: 66, height: 60 %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="<%= root_path %>">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
              <ul class="dropdown-menu">
                <% if customer_signed_in? %>
                  <li><%= link_to 'My Builds', builds_path, class: 'dropdown-item' %></li>
                  <li><%= button_to "Sign Out", destroy_customer_session_path, method: :delete, class: "dropdown-item text-danger" %></li>
                <% elsif current_admin %>
                  <li><%= link_to 'Dashboard', admin_dashboard_path, class: 'dropdown-item' %></li>
                  <li><%= button_to "Sign Out", destroy_admin_session_path, method: :delete, class: "dropdown-item text-danger" %></li>
                <% else %>
                  <li><%= link_to 'Sign In', new_customer_session_path, class: 'dropdown-item' %></li>
                  <li><%= link_to 'Sign Up', new_customer_registration_path, class: 'dropdown-item' %></li>
                  <li><%= link_to 'Admin Login', new_admin_session_path, class: 'dropdown-item' %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
        <h1 class="text-center">JET PWR</h1>
      </div>
    </nav>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>

